@import '../../init';

.component {
    width: 100%;
    height: 100vh;
    background-color: #FAEBFF;
    overflow: hidden;
    position: relative;
}

.footer_animal {
    position: absolute;
    // left: 5%;
    bottom: 0;
    z-index: 3;
}


