@import "../../init";

.component {
    width: 100vw;
    height: 100vh;
    background-color: #faebff;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.footer_animal {
    position: absolute;
    // left: 5%;
    bottom: 0;
    z-index: 3;
}
.cloud {
    position: absolute;
    right: 0;
    top: 0;
    animation: floating 10s infinite alternate;
}
@keyframes floating {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(10px);
    }
}
