@import "../../../init";

.name {
    font-size: 69px;
    font-weight: bold;
    @include font-unk;
    color: #7C6063;
    position: absolute;
    top: 200px;
    left: 150px;
    width: 260px;
    // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
    // @include b;
}
.button {
    position: absolute;
    height: auto;
    left: 947px;
    top: 400px
}
.title {
    @include font-mont;
    font-weight: bold;
    font-size: 36px;
    position: absolute;
    left: 947px;
    top: 300px;
    color: #241400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}
.title2 {
    @include font-mont;
    font-size: 13px;
    position: absolute;
    left: 947px;
    top: 350px;
    color: #241400;
}