@import '../../init';

// div {
//     display: flex;
// }
.mainComponent {
    
    z-index: 5;
    border-radius: 0 28px;  
    overflow: auto;
    background-color: transparent;
    width: 80%;
    height:80%;
    position: fixed;
    overflow: hidden;
    background-color: #1F1D2B;

}


.information_manageButton {
    // width: 98%;
    justify-content: space-between ;
    // @include b;
}
.information_listFood {
    width: 75%;
    height: 100%;
    border-right: 2px solid #393C49;
    // align-items: center;
    // @include b;
    flex-direction: column;
    overflow: hidden;    


   
}
.information_total {
    width: 24.5%;  
    height: 100%;
    // border-right: 2px solid #393C49;
    position: relative;
    justify-content: center;


}
.information_footerdiv {   
    overflow: hidden;
    position: absolute;
    bottom: 20px;
    width: 98%;
    align-items: center;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 24px;
    border-top: 2px solid #393C49;
    flex-direction: column;

}

.head {
    width: 98%;
    align-self: center;
    height: 100px;
    padding-bottom: 15px;
    border-bottom: 1px solid #393C49;
    flex-direction: column;
    margin-top: 10px;
    // @include b;
}
.back {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.4s;
    &:hover {
        background-color: rgb(199, 192, 192);
        transition: 0.4s;
    }
}
.backk {
    @extend .back;
    display: none;
 
}
.next {
    @extend .back;
    display: none;
 
}
.confirmation {
    @include font-bar;
    font-weight: 700;
    color: map-get($colors, "white");
    font-size: 28px;
}
.date {
    flex-direction: column;
    width: 98%;
    // height: 50px;
    align-items: center;
    justify-content: center;
    // background-color: map-get($colors, "pink" );
}
.scroll {
    align-self: center;
    width: 95%;
    height: 94%;
    // @include b;
    flex-direction: column;
    overflow-y: scroll;

    margin: 15px 0px;
    &::-webkit-scrollbar{
        width: 8px;
    }
    &::-webkit-scrollbar-thumb{
        background: map-get($colors, "white" );
        border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb:hover{
        background: map-get($colors, "white" );
        border-radius: 8px;
    }

}
.giraff {
    position: absolute;
    right: 0;   
}
