@import "../../init";

.mainComponent {
    width: 99.5%;
    height: 110px;
    font-size: 14px;
    color: map-get($colors, "white");
    @include font-bar;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
    display: flex;
    flex-direction: row;
}

.delete {
    width: 47px;
    height: 47px;
    border-radius: 8px;
    // border: 1px solid map-get($colors, "red" );
    background-color: transparent;
    margin-left: 17px;
    margin-right: 10px;
    transition: 0.2s;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        transform: scale(1.1);
    }
}
.img {
    width: 60px;
    height: 90px;
    // background-color: #595a5f;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // align-items: center;
    overflow: hidden;
    height: 60px;
    width: 100%;
    // @include b;
    margin-left: 10px;
    // @include b;
}

.name {
    width: 100%;
    height: 18px;
    @include font-bar;
    font-size: 18px;
    color: map-get($colors, "white");
    display: inline-block;
}
.price {
    height: 18px;
    @include font-bar;
    color: #abbbc2;
    font-size: 12px;
}

.number {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #393c49;
    background-color: #2d303e;
    margin-left: 17px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    color: white;
    // font-size: 15px;
    // font-family: $font-1;
    margin-left: 20px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &[type="number"] {
        -moz-appearance: textfield;
    }
}
