@import '../../init';

.component {
    width: 100vw;
    height: 100vh;
    background-color: map-get($colors, "green" );
    overflow: hidden;
    position: relative;
    scroll-snap-align: center;
}

.footer_animal {
    position: absolute;
    // left: 5%;
    bottom: 0;
    z-index: 1;
}
.footer_flower {
    position: absolute;
    right: 0;
    top: 0;
}

