@import '../../init';

.mainComponent {
    z-index: 5;
    width: 321px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
   align-items: center;

}
.input {
    width: 278px;
    height: 44px;
    border-radius: 14px 28px;
    padding: 0px 19.5px;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    @include font-rob;
    transition: 0.3s;
    &::placeholder{
        color: #636773;
    }
    border: 1.6px solid transparent;
}
.input_warn {
    @extend .input;
    border: 1.6px solid #ec0000;
}
.forgotpassword {
    display: block;
    align-self: flex-end;
    font-size: 13px;
    @include font-rob;
    color: #636773;
    cursor: pointer;
    margin-bottom: 21px;
    text-decoration:underline;
    position: absolute;
    right: 0;
    bottom: 80px;

}
.descript {
    margin-left: 0  ;
    transition: 0.3s;
    margin-top: 20px;
    font-size: 15px;
    @include font-rob;

}
.signUp {
    color: map-get($colors, "purple" );
    cursor: pointer;
}
.visible {
        // border: 1px solid map-get($colors , "yellow" );
    display: flex;
    overflow: hidden;
    transition: 0.6s;
    height: 67px;

}
.notvisible {
    @extend .visible;
    height: 0px;
    // width: 0px;
}
.span {
    @include font-rob;
    font-size: 10px;
    height: 10px;
    color: #ec0000;
    margin-bottom: 12px;
    line-height: 22px;
    justify-self: left;
    align-self: flex-start;
}
.footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    flex-direction: column;
    // border: 1px solid black;
    display: flex;
    // @include b;
    @include center();
}
.header {
    position: absolute;
    top: 0px;
    flex-direction: column;
    // border: 1px solid black;
    // @include center();
}
