@import '../../init';

.component {
    width: 100vw;
    height: 100vh;
    background-color: map-get($colors, "yellow" );
    overflow: hidden;
    position: relative;
}
.footer {
    width: 100%;
    position: relative;
    bottom: -4%;
    z-index: 1;
}
.footer_animal {
    position: relative;
    left: 5%;
    bottom: -10%;
    z-index: 1;
}
.footer_moon {
    position: absolute;
    bottom: 0;
    left: 5%;
    bottom: -5%;
}

