@import '../../init';

.component {
    width: 100vw;
    height: 100vh;
    background-color: map-get($colors, "white" );
    overflow: hidden;
    position: relative;
    scroll-snap-align: center;
    display: flex;
    flex-direction: row;
}
.footer {
    width: 100%;
    position: absolute;
    bottom: -4%;
    z-index: 1;
}
.footer_animal {
    position: absolute;
    left: -10%;
    bottom: 0;
    z-index: 2;

}
.footer_cloud {
    position: absolute;
    right: 0;
    top: 0;
}
.footer_moon {
    position: absolute;
    left: -10%;
    bottom: 0;
    z-index: 0;
    animation: floating2 10s infinite alternate;
}
@keyframes floating2 {
    from {
        transform: translateY(100px)
    }
    to {
        transform: translateY(0px)
    }
}
