@import "../../init";
.component {
    width: 500px;
    height: 550px;
    // border: 1px solid black;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}
.input {
    margin-bottom: 10px !important;
}
.select {
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
