@import "../../init";

.component {
    width: 100vw;
    height: 100vh;
    background-color: map-get($colors, "purple");
    overflow: hidden;
    position: relative;
    z-index: 0;
    scroll-snap-align: start;
    display: flex;
    flex-direction: row;
}
.footer {
    width: 100%;
    position: absolute;
    bottom: -4%;
    // animation: floating 2s infinite alternate;
}
.footer_animal {
    position: absolute;
    right: -20px;
    bottom: 0;
    z-index: 2;
}
.footer_cloud {
    position: absolute;
    right: 0;
    top: 0;
    animation: floating 10s infinite alternate;
}
@keyframes floating {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(10px);
    }
}
@keyframes floating2 {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}
.footer_moon {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    animation: floating2 10s infinite alternate;
}
