@import "../../init";
.container {
    width: "85%";
    display: "flex";
    flex-direction: row;
    margin-left: 100px;
    position: "fixed";
    background-color: transparent;
    overflow: hidden;
}
.hideScroll {
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.font {
    @include font-bar;
}
.mainContainer {
    width: 1300px;
    display: flex;
    align-items: center;
    position: fixed;
    //background-color: aqua;
    justify-content: center;
    @include font-bar;
}
.childcom {
    display: flex;
    flex-direction: column;
    width: 23%;
    padding: 15px;
    justify-content: space-between;
    height: 500px;
}
.files {
    @include font-rob;
    cursor: pointer;
}
