@import "../../init";

.containerUser {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    @include font-bar;
}

tr td {
    height: 40px !important;
}
