@import '../../init';

.component {
    width: 76vw;
    height: 400px;
    // @include b;
    position: relative;
    z-index: 5;
    display: block;
}
.next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: -5%;
    right: 0;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        transform: scale(1.2);
    }
}
.back {
    @extend .next;
    left: 0;
    margin-left: -5%;

}
.test {
    width: 185px;
    height: 90%;
    @include b;  
    margin-right: 62px;
    // float: left;
    display: inline-block;
    &:last-child {
        margin-right: 0;
    }
}
.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    // @include b;
    flex-shrink:  unset;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display: block;
      width: 5px;
      height: 12px;
      background-color: transparent;
      overflow: visible;
  }
  &::-webkit-scrollbar-track {
      // background: transparent;
      height:  200px !important;
      background: transparent;
      // border: 4px solid map-get($colors, "greeen" );
      background-clip: content-box;   /* THIS IS IMPORTANT */
  }
      
  &::-webkit-scrollbar-thumb {
      background-color: #4D2900;
    //   border: 2px solid black;
  }
  
  &::-webkit-scrollbar-track-piece {
    background-color: #D7D7D7;
    border: 4px solid map-get($colors, "white" );
    height:  200px !important;
    margin-right: 380px; 
    margin-left: 380px;
  }
  
}