@import '../../../init';


.containerItem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 100px;
    width: 100%;
    background-color:white;
    @include font-bar;
    margin-top: 15px;
}

.boxTitle {
    display: flex;
    flex-direction: row;
    width: "100%";
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;

}
.title {
    @include font-ibm;
    font-size: 14px;
    margin-left: 20px;
}
.content {
    @include font-rob;
    font-size: 17px;
    padding: 10px 12px;
    font: weight 400px;;
}
.numberRating {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2px;
}
.userName {
    margin-left: 3px;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
}
.commentedTime {
    font-size: 15px;
}