@import "../../init";

.container {
    width: 100vw;
    // @include b;
    position: relative;
    height: 100vh;
    background-color: map-get($colors, "yellow");
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 4;
    &::-webkit-scrollbar {
        z-index: 4 !important;
    }
}
.boxImage {
    width: 184px;
    height: 352px;
    // background-color: #c9d8b6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
    z-index: 3;
    position: fixed;
    top: 120px;
    left: 30px;
}
.img {
    width: 166px;
    height: 269px;
}

.back {
    position: absolute;
    top: 10px;
}
.footer {
    position: fixed;
    bottom: 0px;
    z-index: 1;
}
.details {
    // @include b;
    top: 120px;
    left: 350px;
    width: 1040px;
    height: 70%;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    // background-color: transparent;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    // background-color: map-get($colors, "purple");
    padding: 20px;
    overflow: hidden;
}
.boxDes {
    // height: 65%;
    display: flex;
    flex-direction: row;
    // @include b;
}
.infomation {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-between;
    // height: 70%;
    // @include b;
    position: absolute;
    top: 35px;
}
.introduction {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 35px;
    left: 350px;
    // @include b;
}
.textRow {
    // box-sizing: border-box;
    border: 1px solid black;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 45px;
    // padding-bottom: 10px;

    @include font-rob;
    margin-left: 15px;
    align-items: center;
    & p {
        padding: 0 5px;
    }
    &:last-child {
        border-bottom: 1px solid black;
    }
    & p:last-child {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        border-left: 1px solid black;
    }
    &:nth-of-type(2n) {
        // background-color: map-get($colors, "white");
    }
    &:nth-of-type(2n + 1) {
        background-color: #ffffff87;
    }
}
.t1 {
    display: block;
    width: 42%;
}
.title {
    margin-bottom: 15px;
    width: 320px;
    @include font-rob;
}

.boxPrice {
    margin-top: 10px;
    height: 30px;
    width: 100px;
    background-color: orangered;
    color: white;
    font-size: 20;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 35px;
    // border-style: ;
}
.textDes {
    font-size: 20;
    font-weight: 600;
    color: darkslategray;
    line-height: 1.5em;
    max-lines: 7;
    text-overflow: ellipsis;
    width: 90%;
    @include font-rob;
    margin-left: 30px;
}
.quantity {
    // @include b;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 5px;
    padding: 5px;
}
.sl {
    height: 48px;
    width: 48px;
    border-radius: 8px;
    background-color: #2a282e;
    display: flex;
    @include center;
    color: white;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    @include font-mont;
}

.boxBuy {
    display: flex;
    flex-direction: column;
    @include center;
    // @include b;
    margin-left: 45%;
}
.slt {
    font-size: 14px;
    // font-weight: 50w;
    padding-right: 15px;
    @include font-rob;
}

.divider {
    margin-top: 10px;
    height: 2px;
    width: 100%;
    background-color: gray;
    padding: 1.5px;
}
.bt1 {
    background-color: #e16a00;
    color: white;
    display: flex;
    @include center;
    @include font-rob;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    width: 200px;
    outline: none;
}

.bt2 {
    margin-top: 10px;
    width: 400px;
    height: 40px;
    border: 2px solid #0e52e1;
    border-radius: 8px;
    background-color: transparent;
    color: #0e52e1;
    font-size: 16px;
    @include font-mont;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        transition: 0.4s;
        transform: scale(1.05);
    }
}

.boxComment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.item {
    background-color: black;
    height: 40px;
    width: 80%;
}
.commentList {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    //margin: auto;
}

.radio {
    display: flex;
    flex-direction: row;
    height: 22px;
    width: 120px;
    background-color: rgb(53, 53, 175);
    margin-left: 15px;
    align-items: center;
    color: white;
}
.optionBox {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.addCommentBox {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 95px;
}
.input {
    height: 55px;
    width: 90%;
    font-size: 14px;
    padding: 5px 20px;
    outline: none;
    @include font-rob;
}

input::placeholder {
    padding-left: 10px;
}
.commentItem {
    width: 80%;
}
.selectType {
    width: 150px;
    height: 30px;
    @include font-rob;
    outline: none;
}
.pointer {
    cursor: pointer;
}
