@import "../../init";
.header {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;    
    margin: 0 auto;
    width: 70%;
    height: 42px;

    @include font-mont;
    display: flex;
    align-items: center;
    .search, .login {
        cursor: pointer;
        align-items: center;
        p{
            display: flex;
            align-items: center;
            font-size: medium;

            text-decoration: none;
            color: black;
        }
    }
    // scroll-snap-align: center;    
}
.changeLanguage {
    display: flex;
    flex-direction: row;
    width: 50px;
    justify-content: space-between;
    & p:first-child{
        padding-right: 5px;
        border-right: 2px solid black;
    }
    & p {
        cursor: pointer;
    }
}