@import '../../init';

.component {
    width: 100vw;
    height: 100vh;
    background-color: map-get($colors, "yellow" );
    overflow: hidden;
    position: relative;
    scroll-snap-align: center;
    display: flex;
    flex-direction: row;
}
.footer {
    width: 100%;
    position: absolute;
    bottom: -7%;
}
.footer_animal {
    position: absolute;
    bottom: 0;
    left: 10%;
}