@import "../../init";

.loginComponent {
    position: absolute;
    top: 25%;
    right: 9%;
    @include font-bar;
}
.headerComponent {
    position: absolute;
    width: 1170px;
    height: 42px;
    left: 135px;
    top: 40px;
    justify-content: space-between;
}
